<a href="https://colab.research.google.com/github/Eminent01/AMMI_Research/blob/main/AMMI_Research2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import sys
# import os
# # import config
# import pandas as pd
# import numpy as np
# # from config import config
# import matplotlib.pylab as plt

# import yfinance as yf
# from pandas_datareader import data as pdr
# import pkg_resources
# %matplotlib inline

In [2]:
# from pandas_datareader import data
# import matplotlib.pyplot as plt
# import pandas as pd

In [3]:
# # Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
# tickers = ['AAPL', 'MSFT', '^GSPC']

# # We would like all available data from 01/01/2000 until 12/31/2016.
# start_date = '2010-01-01'
# end_date = '2016-12-31'

# # User pandas_reader.data.DataReader to load the desired data. As simple as that.
# panel_data = data.DataReader('INPX', 'google', start_date, end_date)

In [4]:
# start_date = '2016-01-01'
# end_date = '2020-12-31'

In [5]:
# panel_data = data.DataReader(ticker_list, start_date, end_date)

In [6]:
# panel_data.to_frame().head(9)

In [7]:
# df = pdr.get_data_yahoo([ticker_list][0], 
#                           start='2008-01-01', end="2021-01-01")

In [8]:
# data = df.copy()

In [9]:
# data = data.stack().reset_index()
# data.columns.names = [None]
# data = data.drop(['Close'], axis=1)
# data.head()

In [10]:
!pip install yfinance
!pip install matplotlib
!pip install stockstats
!pip install gym
!pip install stable-baselines3[extra]
!pip install tensorflow
# !pip install git+https://github.com/quantopian/pyfolio
!pip install ta
!pip install PyPortfolioOpt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 705 kB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting stockstats
  Downloading stockstats-0.5.1-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from stockstats) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->stockstats) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->stockstats) (1.15.0)
Installing collected packages: stockstats
Successfully installed stockstats-0.5.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gym in /usr/local/lib/python3.7/dist-packages (0.25.2)
Requirement already satisfied: numpy>=1.18.0 in /usr/local/lib/python3.7/dist-packages (from gym) (1.21.6)
Requirement already satisfied: cloudpickle>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from gym) (1.5.0)
Requirement already satisfied: importlib-metadata>=4.8.0 in /usr/local/lib/python3.7/dist-packages (from gym) (4.13.0)
Requirement already satisfied: gym-notices>=0.0.4 in /usr/local/lib/python3.7/dist-packages (from gym) (0.0.8)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.8.0->gym) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.8.0->gym) (3.10.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting stable-baselines3[extra]
  Downloading stable_baselines3-1.6.2-py3-none-any.whl (170 kB)
     |████████████████████████████████| 170 kB 5.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (1.3.5)
Collecting gym==0.21
  Downloading gym-0.21.0.tar.gz (1.5 MB)
     |████████████████████████████████| 1.5 MB 45.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (1.21.6)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (1.5.0)
Requirement already satisfied: importlib-metadata~=4.13 in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (4.13.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (3.2.2)
Requirement already satisfied: torch>=1.11 in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (1.12.1+cu113)
Collecting ale-py==0.7.4
  Downloading ale_py-0.7.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 45.7 MB/s
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (4.6.0.66)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (5.4.8)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (4.64.1)
Collecting rich
  Downloading rich-12.6.0-py3-none-any.whl (237 kB)
     |████████████████████████████████| 237 kB 57.1 MB/s
Requirement already satisfied: tensorboard>=2.9.1 in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]) (2.9.1)
Collecting autorom[accept-rom-license]~=0.4.2
  Downloading AutoROM-0.4.2-py3-none-any.whl (16 kB)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from ale-py==0.7.4->stable-baselines3[extra]) (5.10.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (2.28.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (7.1.2)
Collecting AutoROM.accept-rom-license
  Downloading AutoROM.accept-rom-license-0.4.2.tar.gz (9.8 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata~=4.13->stable-baselines3[extra]) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata~=4.13->stable-baselines3[extra]) (4.1.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (3.19.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (3.4.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (1.3.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (0.6.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (0.4.6)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (57.4.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (2.14.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.9.1->stable-baselines3[extra]) (1.50.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->stable-baselines3[extra]) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->stable-baselines3[extra]) (1.15.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->stable-baselines3[extra]) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.9.1->stable-baselines3[extra]) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.9.1->stable-baselines3[extra]) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=2.9.1->stable-baselines3[extra]) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests->autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autorom[accept-rom-license]~=0.4.2->stable-baselines3[extra]) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.9.1->stable-baselines3[extra]) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->stable-baselines3[extra]) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->stable-baselines3[extra]) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->stable-baselines3[extra]) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->stable-baselines3[extra]) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->stable-baselines3[extra]) (2022.6)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from rich->stable-baselines3[extra]) (2.6.1)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 6.1 MB/s
Building wheels for collected packages: gym, AutoROM.accept-rom-license
  Building wheel for gym (setup.py) ... done
  Created wheel for gym: filename=gym-0.21.0-py3-none-any.whl size=1616821 sha256=71515ae28696e6b817870050d647c6d88c52bceb5f8cd89172fd179a57eed6d2
  Stored in directory: /root/.cache/pip/wheels/76/ee/9c/36bfe3e079df99acf5ae57f4e3464ff2771b34447d6d2f2148
  Building wheel for AutoROM.accept-rom-license (PEP 517) ... done
  Created wheel for AutoROM.accept-rom-license: filename=AutoROM.accept_rom_license-0.4.2-py3-none-any.whl size=441028 sha256=76b4c06d3e295213513718a07151d068fe1603534fdb54ba1f51c1b7073f8785
  Stored in directory: /root/.cache/pip/wheels/87/67/2e/6147e7912fe37f5408b80d07527dab807c1d25f5c403a9538a
Successfully built gym AutoROM.accept-rom-license
Installing collected packages: gym, commonmark, AutoROM.accept-rom-license, autorom, stable-baselines3, rich, ale-py
  Attempting uninstall: gym
    Found existing installation: gym 0.25.2
    Uninstalling gym-0.25.2:
      Successfully uninstalled gym-0.25.2
Successfully installed AutoROM.accept-rom-license-0.4.2 ale-py-0.7.4 autorom-0.4.2 commonmark-0.9.1 gym-0.21.0 rich-12.6.0 stable-baselines3-1.6.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.9.2)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.50.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.27.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.1.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.1)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow) (21.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.1.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.19.6)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.28.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.14.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.1.1)

### Download data from Yfinance API

In [11]:
!pip install yfinance
!pip install yahoofinancials

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2022.6)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15190 sha256=d2da206376e40c5a21ac0f4b2d63b3e9e22d87bc34e0c78875c58987ba6ce55f
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [12]:
ticker_list = ['WBA', 'TRV', 'MMM', 'RTX', 'DD', 'KO', 'V', 'XOM', 'CAT', 'PG',
       'AXP', 'WMT', 'MSFT', 'VZ', 'JPM', 'UNH', 'DIS', 'HD', 'AAPL', 'CVX',
       'JNJ', 'CSCO', 'PFE', 'IBM', 'MRK', 'INTC', 'MCD', 'BA', 'NKE', 'GS']

In [13]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

df = yf.download(ticker_list, 
                      start='2010-01-01', 
                      end='2021-06-12', 
                      progress=False,
)
print(df.head())

           Adj Close                                                         \
                AAPL        AXP         BA        CAT       CSCO        CVX
Date
2010-01-04  6.515213  33.792690  43.777550  41.353188  17.533106  47.266060
2010-01-05  6.526476  33.718369  45.211338  41.847603  17.454998  47.600872
2010-01-06  6.422665  34.263401  46.582802  41.974731  17.341370  47.606838
2010-01-07  6.410791  34.819134  48.468567  42.144226  17.419483  47.427486
2010-01-08  6.453413  34.794254  48.001026  42.617439  17.511806  47.511173

                                                         ...    Volume  \
                   DD        DIS          GS         HD  ...       PFE
Date                                                     ...
2010-01-04  29.206367  27.933920  141.788071  21.250744  ...  54898644
2010-01-05  30.507530  27.864241  144.294891  21.406395  ...  45714931
2010-01-06  31.048021  27.716166  142.754745  21.332279  ...  43640975
2010-01-07  31.068035  27.724876  145.548325  21.584290  ...  41557112
2010-01-08  31.178144  27.768425  142.795761  21.480524  ...  32049716

                                                                      \
                 PG      RTX       TRV       UNH         V        VZ
Date
2010-01-04  9190800  9699415   3716000  12199500  20180000  16176648
2010-01-05  8649400  7952786   5941900  11180700  25833600  23722957
2010-01-06  9908400  7511044  10124500   9761100  16254000  37506464
2010-01-07  8972800  6776132   4901600  11789800  27841200  25508242
2010-01-08  8464600  7396477   3933100   7228700  11907200  20658308


                 WBA       WMT       XOM
Date
2010-01-04   8171000  20753100  27809100
2010-01-05  10843200  15648400  30174700
2010-01-06   8945400  12517200  35044700
2010-01-07   5040700  10662700  27192100
2010-01-08   6139800  11363200  24891800

[5 rows x 180 columns]

In [14]:
data = df.copy()

In [15]:
data = data.stack().reset_index()
data.columns.names = [None]
data = data.drop(['Close'], axis=1)

In [16]:
data.head()

        Date level_1  Adj Close       High        Low       Open     Volume
0 2010-01-04    AAPL   6.515213   7.660714   7.585000   7.622500  493729600
1 2010-01-04     AXP  33.792690  41.099998  40.389999  40.810001    6894300
2 2010-01-04      BA  43.777550  56.389999  54.799999  55.720001    6186700
3 2010-01-04     CAT  41.353188  59.189999  57.509998  57.650002    7325600
4 2010-01-04    CSCO  17.533106  24.840000  24.010000  24.110001   59853700

In [17]:
data.columns = ['date','stock_name','close','high','low','open','volume']

In [18]:
data.head()

        date stock_name      close       high        low       open     volume
0 2010-01-04       AAPL   6.515213   7.660714   7.585000   7.622500  493729600
1 2010-01-04        AXP  33.792690  41.099998  40.389999  40.810001    6894300
2 2010-01-04         BA  43.777550  56.389999  54.799999  55.720001    6186700
3 2010-01-04        CAT  41.353188  59.189999  57.509998  57.650002    7325600
4 2010-01-04       CSCO  17.533106  24.840000  24.010000  24.110001   59853700

In [19]:
# check for missing values
data.isna().sum()

date          0
stock_name    0
close         0
high          0
low           0
open          0
volume        0
dtype: int64

In [20]:
# check if all stock have the same number of data points

no_datasets = []
for i in ticker_list:
    no_data_points = data[data['stock_name']==i].shape[0]
    no_datasets.append((i,no_data_points))
    data_points_df = pd.DataFrame(no_datasets)

In [21]:
data_points_df.head()

     0     1
0  WBA  2880
1  TRV  2880
2  MMM  2880
3  RTX  2880
4   DD  2880

In [22]:
##Save the data to CSV
data.to_csv('datasets.csv', index=False)

#### Create close price data

In [23]:
# read the data from the saved csv file
df_prices = pd.read_csv('/content/datasets.csv')

In [24]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get the list of all the tickers
tic_list = list(set([i for i,j in df_prices.index]))

# Create an empty data frame for the close prices
df_close = pd.DataFrame()

In [25]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get all the Close Prices
df_close = pd.DataFrame()

for ticker in tic_list:
    series = df_prices.xs(ticker).close
    df_close[ticker] = series
    
df_close = df_close.reset_index()

In [26]:
df_close.head()

,date,V,DIS,AAPL,CSCO,AXP,MSFT,CVX,BA,KO,...,UNH,PG,TRV,VZ,PFE,CAT,GS,WMT,NKE,HD
0,2010-01-04,20.094742,27.933920,6.515213,17.533106,33.792690,23.683069,47.266060,43.777550,19.216948,...,26.063272,41.439655,36.491493,16.828819,11.128054,41.353188,141.788071,40.481724,14.032379,21.250744
1,2010-01-05,19.864471,27.864241,6.526476,17.454998,33.718369,23.690722,47.600872,45.211338,18.984486,...,26.021944,41.453205,35.627003,16.859152,10.969333,41.847603,144.294891,40.078621,14.088208,21.406395
2,2010-01-06,19.597734,27.716166,6.422665,17.341370,34.263401,23.545336,47.606838,46.582802,18.977747,...,26.278191,41.256592,35.121506,16.374388,10.934058,41.974731,142.754745,39.989040,14.002316,21.332279
3,2010-01-07,19.780119,27.724876,6.410791,17.419483,34.819134,23.300472,47.427486,48.468567,18.930578,...,27.286669,41.032837,35.627003,16.276922,10.892910,42.144226,145.548325,40.011433,14.139747,21.584290
4,2010-01-08,19.834839,27.768425,6.453413,17.511806,34.794254,23.461161,47.511173,48.001026,18.580202,...,27.030424,40.978615,35.575714,16.287182,10.981087,42.617439,142.795761,39.809895,14.111829,21.480524

In [27]:
# Save the Close Price datase
df_close.to_csv('close_prices.csv', index=False)

In [28]:
# ! pip install pandas-ta

In [29]:
# import matplotlib.pyplot as plt

In [30]:
# plt.plot(df)
# plt.xlabel("Date")
# plt.ylabel("Stock Price")

## Stock Selection using the stocks with least reconstruction error stock usind Auto encoder network

In [31]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras
from numpy import array
from keras.models import Model
from keras.layers import Input
from keras.layers import LSTM
from keras.layers import Dense, Activation
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from keras.utils import plot_model
from keras import regularizers, optimizers

from sklearn import preprocessing

In [32]:
close_price =pd.read_csv("/content/close_prices.csv")

In [33]:
df2 = close_price.copy()

In [34]:
df2 = df2.reset_index(drop=True).set_index(['date'])

In [35]:
df2.head()

,V,DIS,AAPL,CSCO,AXP,MSFT,CVX,BA,KO,MCD,...,UNH,PG,TRV,VZ,PFE,CAT,GS,WMT,NKE,HD
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,20.094742,27.933920,6.515213,17.533106,33.792690,23.683069,47.266060,43.777550,19.216948,43.716709,...,26.063272,41.439655,36.491493,16.828819,11.128054,41.353188,141.788071,40.481724,14.032379,21.250744
2010-01-05,19.864471,27.864241,6.526476,17.454998,33.718369,23.690722,47.600872,45.211338,18.984486,43.382462,...,26.021944,41.453205,35.627003,16.859152,10.969333,41.847603,144.294891,40.078621,14.088208,21.406395
2010-01-06,19.597734,27.716166,6.422665,17.341370,34.263401,23.545336,47.606838,46.582802,18.977747,42.790565,...,26.278191,41.256592,35.121506,16.374388,10.934058,41.974731,142.754745,39.989040,14.002316,21.332279
2010-01-07,19.780119,27.724876,6.410791,17.419483,34.819134,23.300472,47.427486,48.468567,18.930578,43.103928,...,27.286669,41.032837,35.627003,16.276922,10.892910,42.144226,145.548325,40.011433,14.139747,21.584290
2010-01-08,19.834839,27.768425,6.453413,17.511806,34.794254,23.461161,47.511173,48.001026,18.580202,43.062145,...,27.030424,40.978615,35.575714,16.287182,10.981087,42.617439,142.795761,39.809895,14.111829,21.480524

In [36]:
def defineAutoencoder(num_stock, encoding_dim = 5, verbose=0):
    
    """
    Function for fitting an Autoencoder
    """

    # connect all layers
    input = Input(shape=(num_stock,))

    encoded = Dense(encoding_dim, kernel_regularizer=regularizers.l2(0.00001),name ='Encoder_Input')(input)

    decoded = Dense(num_stock, kernel_regularizer=regularizers.l2(0.00001), name ='Decoder_Input')(encoded)
    decoded = Activation("linear", name='Decoder_Activation_function')(decoded)

    # construct and compile AE model
    autoencoder = Model(inputs=input, outputs=decoded)
    adam = optimizers.Adam(lr=0.0005)
    autoencoder.compile(optimizer=adam, loss='mean_squared_error')
    if verbose!= 0:
        autoencoder.summary()

    return autoencoder

In [37]:
def getReconstructionErrorsDF(df_pct_change, reconstructed_data):
    
    """
    Function for calculating the reconstruction Errors
    """
    array = []
    stocks_ranked = []
    num_columns = reconstructed_data.shape[1]
    for i in range(0, num_columns):
        diff = np.linalg.norm((df_pct_change.iloc[:, i] - reconstructed_data[:, i]))  # 2 norm difference
        array.append(float(diff))

    ranking = np.array(array).argsort()
    r = 1
    for stock_index in ranking:
        stocks_ranked.append([ r
                              ,stock_index
                              ,df_pct_change.iloc[:, stock_index].name
                              ,array[stock_index]
                              ])
        r = r + 1

    columns = ['ranking','stock_index', 'stock_name' ,'recreation_error']
    df = pd.DataFrame(stocks_ranked, columns=columns)
    df = df.set_index('stock_name')
    return df

In [38]:
df_pct_change = df2.pct_change(1).astype(float)
df_pct_change = df_pct_change.replace([np.inf, -np.inf], np.nan)
df_pct_change = df_pct_change.fillna(method='ffill')

# the percentage change function will make the first two rows equal to nan
df_pct_change = df_pct_change.tail(len(df_pct_change) - 2)

In [39]:
# remove columns where there is no change over a longer time period
df_pct_change = df_pct_change[df_pct_change.columns[((df_pct_change == 0).mean() <= 0.05)]]

In [40]:
df_pct_change.head()

,V,DIS,AAPL,CSCO,AXP,MSFT,CVX,BA,KO,MCD,...,UNH,PG,TRV,VZ,PFE,CAT,GS,WMT,NKE,HD
date,,,,,,,,,,,,,,,,,,,,,
2010-01-06,-0.013428,-0.005314,-0.015906,-0.006510,0.016164,-0.006137,0.000125,0.030335,-0.000355,-0.013644,...,0.009847,-0.004743,-0.014189,-0.028754,-0.003216,0.003038,-0.010674,-0.002235,-0.006097,-0.003462
2010-01-07,0.009306,0.000314,-0.001849,0.004504,0.016219,-0.010400,-0.003767,0.040482,-0.002485,0.007323,...,0.038377,-0.005423,0.014393,-0.005952,-0.003763,0.004038,0.019569,0.000560,0.009815,0.011814
2010-01-08,0.002766,0.001571,0.006649,0.005300,-0.000715,0.006896,0.001765,-0.009646,-0.018508,-0.000969,...,-0.009391,-0.001321,-0.001440,0.000630,0.008095,0.011228,-0.018912,-0.005037,-0.001974,-0.004807
2010-01-11,-0.002874,-0.016311,-0.008822,-0.002839,-0.011442,-0.012720,0.017743,-0.011851,0.020308,0.007762,...,0.006728,-0.003971,-0.000412,0.004094,0.008030,0.062811,-0.015777,0.016501,-0.012325,-0.028296
2010-01-12,-0.004726,-0.017219,-0.011375,-0.015860,0.013262,-0.006607,-0.005811,-0.007228,0.010841,0.005456,...,-0.026428,0.011462,0.006386,0.000941,-0.003186,-0.029472,-0.021800,0.009592,-0.001387,-0.006392

In [41]:
# define the input parameters
hidden_layers = 5
batch_size = 500
epochs = 100
stock_selection_number = 20
num_stock = df_pct_change.shape[1]
verbose = 1

In [42]:
# Normalize the data
df_scaler = preprocessing.MinMaxScaler()
df_pct_change_normalised = df_scaler.fit_transform(df_pct_change)

In [43]:
# define autoencoder
print('-' * 25 + 'Define autoencoder model')
num_stock = len(df_pct_change.columns)
autoencoder = defineAutoencoder(num_stock=num_stock, encoding_dim=hidden_layers, verbose=verbose)
#plot_model(autoencoder, to_file='img/model_autoencoder_1.png', show_shapes=True,
#           show_layer_names=True)

-------------------------Define autoencoder model
Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 30)]              0

 Encoder_Input (Dense)       (None, 5)                 155

 Decoder_Input (Dense)       (None, 30)                180

 Decoder_Activation_function  (None, 30)               0
  (Activation)

=================================================================
Total params: 335
Trainable params: 335
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [44]:
# train autoencoder
print('-' * 25 + 'Train autoencoder model')
autoencoder.fit(df_pct_change_normalised, df_pct_change_normalised, shuffle=False, epochs=epochs,
                batch_size=batch_size,
                verbose=verbose)

-------------------------Train autoencoder model
Epoch 1/100
6/6 [==============================] - 1s 4ms/step - loss: 0.2831
Epoch 2/100
6/6 [==============================] - 0s 4ms/step - loss: 0.2632
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: 0.2464
Epoch 4/100
6/6 [==============================] - 0s 3ms/step - loss: 0.2325
Epoch 5/100
6/6 [==============================] - 0s 3ms/step - loss: 0.2209
Epoch 6/100
6/6 [==============================] - 0s 3ms/step - loss: 0.2109
Epoch 7/100
6/6 [==============================] - 0s 3ms/step - loss: 0.2020
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1939
Epoch 9/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1861
Epoch 10/100
6/6 [==============================] - 0s 5ms/step - loss: 0.1787
Epoch 11/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1714
Epoch 12/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1642
Epoch 13/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1570
Epoch 14/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1500
Epoch 15/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1430
Epoch 16/100
6/6 [==============================] - 0s 5ms/step - loss: 0.1361
Epoch 17/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1293
Epoch 18/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1226
Epoch 19/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1161
Epoch 20/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1098
Epoch 21/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1037
Epoch 22/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0978
Epoch 23/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0921
Epoch 24/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0866
Epoch 25/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0814
Epoch 26/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0764
Epoch 27/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0716
Epoch 28/100
6/6 [==============================] - 0s 8ms/step - loss: 0.0671
Epoch 29/100
6/6 [==============================] - 0s 8ms/step - loss: 0.0628
Epoch 30/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0588
Epoch 31/100
6/6 [==============================] - 0s 12ms/step - loss: 0.0549
Epoch 32/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0513
Epoch 33/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0479
Epoch 34/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0447
Epoch 35/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0417
Epoch 36/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0389
Epoch 37/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0362
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0338
Epoch 39/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0315
Epoch 40/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0294
Epoch 41/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0274
Epoch 42/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0256
Epoch 43/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0239
Epoch 44/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0223
Epoch 45/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0208
Epoch 46/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0195
Epoch 47/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0182
Epoch 48/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0170
Epoch 49/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0159
Epoch 50/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0149
Epoch 51/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0140
Epoch 52/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0131
Epoch 53/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0123
Epoch 54/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0116
Epoch 55/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0109
Epoch 56/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0103
Epoch 57/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0097
Epoch 58/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0091
Epoch 59/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0086
Epoch 60/100
6/6 [==============================] - 0s 15ms/step - loss: 0.0082
Epoch 61/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0077
Epoch 62/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0073
Epoch 63/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0069
Epoch 64/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0066
Epoch 65/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0063
Epoch 66/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0060
Epoch 67/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0057
Epoch 68/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0055
Epoch 69/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0052
Epoch 70/100
6/6 [==============================] - 0s 8ms/step - loss: 0.0050
Epoch 71/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0048
Epoch 72/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0047
Epoch 73/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0045
Epoch 74/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0044
Epoch 75/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0042
Epoch 76/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0041
Epoch 77/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0040
Epoch 78/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0039
Epoch 79/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0038
Epoch 80/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0037
Epoch 81/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0036
Epoch 82/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0036
Epoch 83/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0035
Epoch 84/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0034
Epoch 85/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0034
Epoch 86/100
6/6 [==============================] - 0s 11ms/step - loss: 0.0033
Epoch 87/100
6/6 [==============================] - 0s 8ms/step - loss: 0.0033
Epoch 88/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0033
Epoch 89/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0032
Epoch 90/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0032
Epoch 91/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0032
Epoch 92/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0031
Epoch 93/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0031
Epoch 94/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0031
Epoch 95/100
6/6 [==============================] - 0s 6ms/step - loss: 0.0031
Epoch 96/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0031
Epoch 97/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0030
Epoch 98/100
6/6 [==============================] - 0s 8ms/step - loss: 0.0030
Epoch 99/100
6/6 [==============================] - 0s 7ms/step - loss: 0.0030
Epoch 100/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0030

In [45]:
# predict autoencoder
print('-' * 25 + 'Predict autoencoder model')
reconstruct = autoencoder.predict(df_pct_change_normalised)

-------------------------Predict autoencoder model
90/90 [==============================] - 0s 3ms/step

In [46]:

# Inverse transform dataset with MinMax Scaler
print('-' * 25 + 'Inverse transform dataset with MinMax Scaler')
reconstruct_real = df_scaler.inverse_transform(reconstruct)
df_reconstruct_real = pd.DataFrame(data=reconstruct_real, columns=df_pct_change.columns)

-------------------------Inverse transform dataset with MinMax Scaler

In [47]:
print('-' * 25 + 'Calculate L2 norm as reconstruction loss metric')
df_recreation_error = getReconstructionErrorsDF(df_pct_change=df_pct_change,
                                                reconstructed_data=reconstruct_real)

-------------------------Calculate L2 norm as reconstruction loss metric

In [48]:
df_recreation_error

            ranking  stock_index  recreation_error
stock_name
PG                1           21          0.435530
MRK               2           19          0.499157
VZ                3           23          0.507108
JNJ               4           16          0.556906
IBM               5           12          0.581666
KO                6            8          0.587033
WMT               7           27          0.612712
HD                8           29          0.632961
DIS               9            1          0.658266
MCD              10            9          0.659252
PFE              11           24          0.688921
XOM              12           14          0.717589
UNH              13           20          0.725753
TRV              14           22          0.725924
CVX              15            6          0.727931
CAT              16           25          0.734160
NKE              17           28          0.753720
MMM              18           10          0.762886
GS               19           26          0.782753
CSCO             20            3          0.784355
RTX              21           17          0.844554
V                22            0          0.858721
JPM              23           11          0.864234
AAPL             24            2          0.879948
MSFT             25            5          0.881872
DD               26           15          0.916347
AXP              27            4          1.002907
WBA              28           18          1.048455
INTC             29           13          1.243888
BA               30            7          1.253382

In [49]:
filtered_stocks = df_recreation_error.head(stock_selection_number).index

In [50]:
filtered_stocks

Index(['PG', 'MRK', 'VZ', 'JNJ', 'IBM', 'KO', 'WMT', 'HD', 'DIS', 'MCD', 'PFE',
       'XOM', 'UNH', 'TRV', 'CVX', 'CAT', 'NKE', 'MMM', 'GS', 'CSCO'],
      dtype='object', name='stock_name')

In [51]:
# store the list of selected stocks
%store filtered_stocks

Stored 'filtered_stocks' (Index)

### Feature Engineering and Data Preprocessing

In [52]:
!pip install ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ta in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ta) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from ta) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)

In [53]:
 # Install the unstable development version in Jupyter notebook:
# !pip install git+https://github.com/AI4Finance-LLC/FinRL-Library.git

In [54]:
# !pip install git+https://github.com/AI4Finance-Foundation/FinRL.git

In [55]:
# !git clone https://github.com/AI4Finance-Foundation/FinRL.git

In [56]:
import pandas as pd
import numpy as np
import ta
from ta import add_all_ta_features
from ta.utils import dropna
# from finrl.preprocessing.preprocessors import FeatureEngineer
# from finrl.preprocessing.data import data_split

In [57]:
list_of_stocks = filtered_stocks
print(list_of_stocks)

Index(['PG', 'MRK', 'VZ', 'JNJ', 'IBM', 'KO', 'WMT', 'HD', 'DIS', 'MCD', 'PFE',
       'XOM', 'UNH', 'TRV', 'CVX', 'CAT', 'NKE', 'MMM', 'GS', 'CSCO'],
      dtype='object', name='stock_name')

In [58]:
data = data[data['stock_name'].isin(list_of_stocks)]

In [59]:
data.stock_name.unique()

array(['CAT', 'CSCO', 'CVX', 'DIS', 'GS', 'HD', 'IBM', 'JNJ', 'KO', 'MCD',
       'MMM', 'MRK', 'NKE', 'PFE', 'PG', 'TRV', 'UNH', 'VZ', 'WMT', 'XOM'],
      dtype=object)

In [60]:
def add_features(data, feature_list, short_names):
    
    # list of column names to filter the features
    data_col_names = list(data.columns)
    filter_names = data_col_names + feature_list
    col_rename = data_col_names +  short_names
    
    # Add technical indicators using the ta Library
    data = add_all_ta_features(data, open="open", high="high", 
    low="low", close="close", volume="volume") 
    
    # Filter the Indicators with the required features
    data = data[filter_names]
    data.columns = col_rename # rename the columns to use shortened indicator names
    data = data.dropna()
    
    return data

In [61]:
# List of Features to add
feature_list= ['volatility_atr','volatility_bbw','volume_obv','volume_cmf',
               'trend_macd', 'trend_adx', 'trend_sma_fast', 
               'trend_ema_fast', 'trend_cci', 'momentum_rsi']

# Short names of the features
short_names = ['atr', 'bbw','obv','cmf','macd', 'adx', 'sma', 'ema', 'cci', 'rsi']

In [62]:
# Add Indicators to our dataset
data_with_features = data.copy()

data_with_features = add_features(data_with_features, feature_list, short_names)

/usr/local/lib/python3.7/dist-packages/ta/volume.py:319: RuntimeWarning: overflow encountered in double_scalars
  self._nvi.iloc[i] = self._nvi.iloc[i - 1] * (1.0 + price_change.iloc[i])
/usr/local/lib/python3.7/dist-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/usr/local/lib/python3.7/dist-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [63]:
data_with_features.head()

,date,stock_name,close,high,low,open,volume,atr,bbw,obv,cmf,macd,adx,sma,ema,cci,rsi
39,2010-01-05,HD,21.406395,28.990000,28.290001,28.730000,15594300,50.203227,292.156673,-178340080,-40.594202,3.607380,0.000000,41.981023,46.451611,-67.890905,47.482276
40,2010-01-05,IBM,80.332458,126.051628,124.378586,125.889099,7156104,55.647428,291.822497,-171183976,-40.820968,6.042912,0.000000,45.222089,51.664049,163.768733,53.889747
42,2010-01-05,JNJ,43.765087,64.620003,63.820000,64.580002,10673100,51.733931,291.973399,-181857076,-40.269991,4.965173,4.147931,45.828222,50.448824,18.131688,49.827029
44,2010-01-05,KO,18.984486,28.495001,28.070000,28.424999,23172400,48.130047,292.141894,-205029476,-37.223285,2.087406,4.115428,45.238323,45.608157,-70.735199,47.228556
45,2010-01-05,MCD,43.382462,62.750000,62.189999,62.660000,7099000,47.693593,292.242880,-197930476,-37.675961,1.755235,3.885155,47.451127,45.265742,14.630376,49.993620

In [64]:
feature_list = list(data_with_features.columns)[7:]

In [65]:
print(feature_list)

['atr', 'bbw', 'obv', 'cmf', 'macd', 'adx', 'sma', 'ema', 'cci', 'rsi']

In [66]:
def add_cov_matrix(df):
    """
    Function to add Coveriance Matrices as part of the defined states
    """
    # Sort the data and index by date and tic
    df=df.sort_values(['date','stock_name'],ignore_index=True) 
    df.index = df.date.factorize()[0]
    
    cov_list = [] # create empty list for storing coveriance matrices at each time step
    
    # look back for constructing the coveriance matrix is one year
    lookback=252
    for i in range(lookback,len(df.index.unique())):
        data_lookback = df.loc[i-lookback:i,:]
        price_lookback=data_lookback.pivot_table(index = 'date',columns = 'stock_name', values = 'close')
        return_lookback = price_lookback.pct_change().dropna()
        covs = return_lookback.cov().values 
        covs = covs#/covs.max()
        cov_list.append(covs)
        
    df_cov = pd.DataFrame({'date':df.date.unique()[lookback:],'cov_list':cov_list})
    df = df.merge(df_cov, on='date')
    df = df.sort_values(['date','stock_name']).reset_index(drop=True)
    
    return df

In [67]:
# Add Covariance Matrices to our dataset
data_with_features_covs = data_with_features.copy()
data_with_features_covs = add_cov_matrix(data_with_features_covs)

In [68]:
data_with_features_covs.head()

,date,stock_name,close,high,low,open,volume,atr,bbw,obv,cmf,macd,adx,sma,ema,cci,rsi,cov_list
0,2011-01-04,CAT,67.871895,94.639999,92.300003,94.639999,6119300,33.647770,266.373248,-44256865319,-46.334358,-0.168268,4.209036,38.723919,42.853142,69.769993,53.671748,"[[0.0003981761963251601, 0.0002029735067367807..."
1,2011-01-04,CSCO,14.571867,20.600000,20.400000,20.510000,46273800,35.030183,266.357314,-44303139119,-47.888975,-2.411860,4.385502,35.348274,38.502177,-93.393133,46.358768,"[[0.0003981761963251601, 0.0002029735067367807..."
2,2011-01-04,CVX,56.807304,92.480003,91.220001,92.279999,8513900,39.317978,266.382304,-44294625219,-47.655648,-0.772965,4.561675,34.948381,41.318350,58.070830,51.946181,"[[0.0003981761963251601, 0.0002029735067367807..."
3,2011-01-04,DIS,34.332916,39.000000,37.849998,37.930000,21974200,37.281911,265.906659,-44316599419,-45.185940,-1.272951,4.449228,35.884434,40.243668,-48.002633,49.020129,"[[0.0003981761963251601, 0.0002029735067367807..."
4,2011-01-04,GS,143.133636,174.000000,172.000000,173.869995,3335500,47.520428,265.935517,-44313263919,-45.577811,7.029088,5.393263,46.248473,56.072894,261.301711,60.592779,"[[0.0003981761963251601, 0.0002029735067367807..."

## Store the Dataframe

In [69]:
df = data_with_features_covs

In [70]:
%store df

Stored 'df' (DataFrame)