<a href="https://colab.research.google.com/github/Eminent01/AMMI_Research/blob/main/AMMI_Research2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import sys
# import os
# # import config
# import pandas as pd
# import numpy as np
# # from config import config
# import matplotlib.pylab as plt

# import yfinance as yf
# from pandas_datareader import data as pdr
# import pkg_resources
# %matplotlib inline

In [2]:
# from pandas_datareader import data
# import matplotlib.pyplot as plt
# import pandas as pd

In [3]:
# # Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
# tickers = ['AAPL', 'MSFT', '^GSPC']

# # We would like all available data from 01/01/2000 until 12/31/2016.
# start_date = '2010-01-01'
# end_date = '2016-12-31'

# # User pandas_reader.data.DataReader to load the desired data. As simple as that.
# panel_data = data.DataReader('INPX', 'google', start_date, end_date)

In [4]:
# start_date = '2016-01-01'
# end_date = '2020-12-31'

In [5]:
# panel_data = data.DataReader(ticker_list, start_date, end_date)

In [6]:
# panel_data.to_frame().head(9)

In [7]:
# df = pdr.get_data_yahoo([ticker_list][0], 
#                           start='2008-01-01', end="2021-01-01")

In [8]:
# data = df.copy()

In [9]:
# data = data.stack().reset_index()
# data.columns.names = [None]
# data = data.drop(['Close'], axis=1)
# data.head()

### Download data from Yfinance API

In [1]:
!pip install yfinance
!pip install yahoofinancials

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.7 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2022.6)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15190 sha256=8c3720fbe98698dc87fe912c56b112071566411794e242d072ac51f1eec2c240
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [2]:
ticker_list = ['WBA', 'TRV', 'MMM', 'RTX', 'DD', 'KO', 'V', 'XOM', 'CAT', 'PG',
       'AXP', 'WMT', 'MSFT', 'VZ', 'JPM', 'UNH', 'DIS', 'HD', 'AAPL', 'CVX',
       'JNJ', 'CSCO', 'PFE', 'IBM', 'MRK', 'INTC', 'MCD', 'BA', 'NKE', 'GS']

In [3]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

df = yf.download(ticker_list, 
                      start='2010-01-01', 
                      end='2021-06-12', 
                      progress=False,
)
print(df.head())

           Adj Close                                                         \
                AAPL        AXP         BA        CAT       CSCO        CVX
Date
2010-01-04  6.515212  33.792698  43.777546  41.353199  17.533104  47.266052
2010-01-05  6.526477  33.718372  45.211338  41.847588  17.454988  47.600857
2010-01-06  6.422666  34.263424  46.582798  41.974724  17.341368  47.606831
2010-01-07  6.410790  34.819122  48.468563  42.144241  17.419489  47.427483
2010-01-08  6.453410  34.794250  48.001011  42.617443  17.511799  47.511177

                                                         ...    Volume  \
                   DD        DIS          GS         HD  ...       PFE
Date                                                     ...
2010-01-04  29.346004  27.933922  141.788086  21.250738  ...  54898644
2010-01-05  30.653393  27.864237  144.294907  21.406397  ...  45714931
2010-01-06  31.196478  27.716164  142.754761  21.332275  ...  43640975
2010-01-07  31.216595  27.724876  145.548264  21.584288  ...  41557112
2010-01-08  31.327206  27.768423  142.795761  21.480524  ...  32049716

                                                                      \
                 PG      RTX       TRV       UNH         V        VZ
Date
2010-01-04  9190800  9699415   3716000  12199500  20180000  16176648
2010-01-05  8649400  7952786   5941900  11180700  25833600  23722957
2010-01-06  9908400  7511044  10124500   9761100  16254000  37506464
2010-01-07  8972800  6776132   4901600  11789800  27841200  25508242
2010-01-08  8464600  7396477   3933100   7228700  11907200  20658308


                 WBA       WMT       XOM
Date
2010-01-04   8171000  20753100  27809100
2010-01-05  10843200  15648400  30174700
2010-01-06   8945400  12517200  35044700
2010-01-07   5040700  10662700  27192100
2010-01-08   6139800  11363200  24891800

[5 rows x 180 columns]

In [4]:
data = df.copy()

In [5]:
data = data.stack().reset_index()
data.columns.names = [None]
data = data.drop(['Close'], axis=1)

In [6]:
data.head()

        Date level_1  Adj Close       High        Low       Open     Volume
0 2010-01-04    AAPL   6.515212   7.660714   7.585000   7.622500  493729600
1 2010-01-04     AXP  33.792698  41.099998  40.389999  40.810001    6894300
2 2010-01-04      BA  43.777546  56.389999  54.799999  55.720001    6186700
3 2010-01-04     CAT  41.353199  59.189999  57.509998  57.650002    7325600
4 2010-01-04    CSCO  17.533104  24.840000  24.010000  24.110001   59853700

In [7]:
data.columns = ['date','stock_name','close','high','low','open','volume']

In [8]:
data.head()

        date stock_name      close       high        low       open     volume
0 2010-01-04       AAPL   6.515212   7.660714   7.585000   7.622500  493729600
1 2010-01-04        AXP  33.792698  41.099998  40.389999  40.810001    6894300
2 2010-01-04         BA  43.777546  56.389999  54.799999  55.720001    6186700
3 2010-01-04        CAT  41.353199  59.189999  57.509998  57.650002    7325600
4 2010-01-04       CSCO  17.533104  24.840000  24.010000  24.110001   59853700

In [9]:
# check for missing values
data.isna().sum()

date          0
stock_name    0
close         0
high          0
low           0
open          0
volume        0
dtype: int64

In [10]:
# check if all stock have the same number of data points

no_datasets = []
for i in ticker_list:
    no_data_points = data[data['stock_name']==i].shape[0]
    no_datasets.append((i,no_data_points))
    data_points_df = pd.DataFrame(no_datasets)

In [11]:
data_points_df.head()

     0     1
0  WBA  2880
1  TRV  2880
2  MMM  2880
3  RTX  2880
4   DD  2880

In [12]:
##Save the data to CSV
data.to_csv('datasets.csv', index=False)

#### Create close price data

In [13]:
# read the data from the saved csv file
df_prices = pd.read_csv('/content/datasets.csv')

In [14]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get the list of all the tickers
tic_list = list(set([i for i,j in df_prices.index]))

# Create an empty data frame for the close prices
df_close = pd.DataFrame()

In [15]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get all the Close Prices
df_close = pd.DataFrame()

for ticker in tic_list:
    series = df_prices.xs(ticker).close
    df_close[ticker] = series
    
df_close = df_close.reset_index()

In [16]:
df_close.head()

,date,AXP,MCD,CVX,HD,DIS,TRV,PFE,MMM,JNJ,...,JPM,DD,VZ,MSFT,AAPL,MRK,BA,WMT,NKE,CAT
0,2010-01-04,33.792698,43.716705,47.266052,21.250738,27.933922,36.491486,11.128053,57.456108,44.278526,...,30.742666,29.346004,16.828815,23.683073,6.515212,22.735376,43.777546,40.481716,14.032378,41.353199
1,2010-01-05,33.718372,43.382465,47.600857,21.406397,27.864237,35.627003,10.969332,57.096241,43.765102,...,31.338142,30.653393,16.859156,23.690714,6.526477,22.827524,45.211338,40.078617,14.088207,41.847588
2,2010-01-06,34.263424,42.790585,47.606831,21.332275,27.716164,35.121506,10.934059,57.905964,44.121078,...,31.510338,31.196478,16.374392,23.545336,6.422666,23.134686,46.582798,39.989029,14.002321,41.974724
3,2010-01-07,34.819122,43.103924,47.427483,21.584288,27.724876,35.627003,10.892912,57.947502,43.806171,...,32.134506,31.216595,16.276922,23.300468,6.410790,23.171537,48.468563,40.011433,14.139740,42.144241
4,2010-01-08,34.794250,43.062141,47.511177,21.480524,27.768423,35.575726,10.981091,58.355816,43.956772,...,32.055603,31.327206,16.287182,23.461157,6.453410,23.159252,48.001011,39.809895,14.111827,42.617443

In [17]:
# Save the Close Price datase
df_close.to_csv('close_prices.csv', index=False)

In [27]:
# ! pip install pandas-ta

In [28]:
# import matplotlib.pyplot as plt

In [29]:
# plt.plot(df)
# plt.xlabel("Date")
# plt.ylabel("Stock Price")

## Stock Selection using the stocks with least reconstruction error stock usind Auto encoder network

In [18]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras
from numpy import array
from keras.models import Model
from keras.layers import Input
from keras.layers import LSTM
from keras.layers import Dense, Activation
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from keras.utils import plot_model
from keras import regularizers, optimizers

from sklearn import preprocessing

In [19]:
close_price =pd.read_csv("/content/close_prices.csv")

In [20]:
df2 = close_price.copy()

In [21]:
df2 = df2.reset_index(drop=True).set_index(['date'])

In [22]:
df2.head()

,AXP,MCD,CVX,HD,DIS,TRV,PFE,MMM,JNJ,WBA,...,JPM,DD,VZ,MSFT,AAPL,MRK,BA,WMT,NKE,CAT
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,33.792698,43.716705,47.266052,21.250738,27.933922,36.491486,11.128053,57.456108,44.278526,26.326159,...,30.742666,29.346004,16.828815,23.683073,6.515212,22.735376,43.777546,40.481716,14.032378,41.353199
2010-01-05,33.718372,43.382465,47.600857,21.406397,27.864237,35.627003,10.969332,57.096241,43.765102,26.114429,...,31.338142,30.653393,16.859156,23.690714,6.526477,22.827524,45.211338,40.078617,14.088207,41.847588
2010-01-06,34.263424,42.790585,47.606831,21.332275,27.716164,35.121506,10.934059,57.905964,44.121078,25.916801,...,31.510338,31.196478,16.374392,23.545336,6.422666,23.134686,46.582798,39.989029,14.002321,41.974724
2010-01-07,34.819122,43.103924,47.427483,21.584288,27.724876,35.627003,10.892912,57.947502,43.806171,26.072075,...,32.134506,31.216595,16.276922,23.300468,6.410790,23.171537,48.468563,40.011433,14.139740,42.144241
2010-01-08,34.794250,43.062141,47.511177,21.480524,27.768423,35.575726,10.981091,58.355816,43.956772,26.107370,...,32.055603,31.327206,16.287182,23.461157,6.453410,23.159252,48.001011,39.809895,14.111827,42.617443

In [23]:
def defineAutoencoder(num_stock, encoding_dim = 5, verbose=0):
    
    """
    Function for fitting an Autoencoder
    """

    # connect all layers
    input = Input(shape=(num_stock,))

    encoded = Dense(encoding_dim, kernel_regularizer=regularizers.l2(0.00001),name ='Encoder_Input')(input)

    decoded = Dense(num_stock, kernel_regularizer=regularizers.l2(0.00001), name ='Decoder_Input')(encoded)
    decoded = Activation("linear", name='Decoder_Activation_function')(decoded)

    # construct and compile AE model
    autoencoder = Model(inputs=input, outputs=decoded)
    adam = optimizers.Adam(lr=0.0005)
    autoencoder.compile(optimizer=adam, loss='mean_squared_error')
    if verbose!= 0:
        autoencoder.summary()

    return autoencoder

In [24]:
def getReconstructionErrorsDF(df_pct_change, reconstructed_data):
    
    """
    Function for calculating the reconstruction Errors
    """
    array = []
    stocks_ranked = []
    num_columns = reconstructed_data.shape[1]
    for i in range(0, num_columns):
        diff = np.linalg.norm((df_pct_change.iloc[:, i] - reconstructed_data[:, i]))  # 2 norm difference
        array.append(float(diff))

    ranking = np.array(array).argsort()
    r = 1
    for stock_index in ranking:
        stocks_ranked.append([ r
                              ,stock_index
                              ,df_pct_change.iloc[:, stock_index].name
                              ,array[stock_index]
                              ])
        r = r + 1

    columns = ['ranking','stock_index', 'stock_name' ,'recreation_error']
    df = pd.DataFrame(stocks_ranked, columns=columns)
    df = df.set_index('stock_name')
    return df

In [26]:
df_pct_change = df2.pct_change(1).astype(float)
df_pct_change = df_pct_change.replace([np.inf, -np.inf], np.nan)
df_pct_change = df_pct_change.fillna(method='ffill')

# the percentage change function will make the first two rows equal to nan
df_pct_change = df_pct_change.tail(len(df_pct_change) - 2)

In [27]:
# remove columns where there is no change over a longer time period
df_pct_change = df_pct_change[df_pct_change.columns[((df_pct_change == 0).mean() <= 0.05)]]

In [28]:
df_pct_change.head()

,AXP,MCD,CVX,HD,DIS,TRV,PFE,MMM,JNJ,WBA,...,JPM,DD,VZ,MSFT,AAPL,MRK,BA,WMT,NKE,CAT
date,,,,,,,,,,,,,,,,,,,,,
2010-01-06,0.016165,-0.013643,0.000125,-0.003463,-0.005314,-0.014189,-0.003216,0.014182,0.008134,-0.007568,...,0.005495,0.017717,-0.028754,-0.006137,-0.015906,0.013456,0.030334,-0.002235,-0.006096,0.003038
2010-01-07,0.016218,0.007323,-0.003767,0.011814,0.000314,0.014393,-0.003763,0.000717,-0.007137,0.005991,...,0.019808,0.000645,-0.005953,-0.010400,-0.001849,0.001593,0.040482,0.000560,0.009814,0.004039
2010-01-08,-0.000714,-0.000969,0.001765,-0.004807,0.001571,-0.001439,0.008095,0.007046,0.003438,0.001354,...,-0.002455,0.003543,0.000630,0.006896,0.006648,-0.000530,-0.009647,-0.005037,-0.001974,0.011228
2010-01-11,-0.011442,0.007762,0.017743,-0.028296,-0.016311,-0.000412,0.008030,-0.004032,0.000156,0.001622,...,-0.003358,-0.012520,0.004094,-0.012720,-0.008821,0.003978,-0.011851,0.016500,-0.012325,0.062811
2010-01-12,0.013263,0.005456,-0.005811,-0.006392,-0.017219,0.006387,-0.003186,0.000833,0.005294,-0.008367,...,-0.023355,0.003251,0.000941,-0.006607,-0.011375,-0.007926,-0.007228,0.009592,-0.001387,-0.029472

In [30]:
# define the input parameters
hidden_layers = 5
batch_size = 500
epochs = 100
stock_selection_number = 20
num_stock = df_pct_change.shape[1]
verbose = 1

In [31]:
# Normalize the data
df_scaler = preprocessing.MinMaxScaler()
df_pct_change_normalised = df_scaler.fit_transform(df_pct_change)

In [32]:
# define autoencoder
print('-' * 25 + 'Define autoencoder model')
num_stock = len(df_pct_change.columns)
autoencoder = defineAutoencoder(num_stock=num_stock, encoding_dim=hidden_layers, verbose=verbose)
#plot_model(autoencoder, to_file='img/model_autoencoder_1.png', show_shapes=True,
#           show_layer_names=True)

-------------------------Define autoencoder model
Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 30)]              0

 Encoder_Input (Dense)       (None, 5)                 155

 Decoder_Input (Dense)       (None, 30)                180

 Decoder_Activation_function  (None, 30)               0
  (Activation)

=================================================================
Total params: 335
Trainable params: 335
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [33]:
# train autoencoder
print('-' * 25 + 'Train autoencoder model')
autoencoder.fit(df_pct_change_normalised, df_pct_change_normalised, shuffle=False, epochs=epochs,
                batch_size=batch_size,
                verbose=verbose)

-------------------------Train autoencoder model
Epoch 1/100
6/6 [==============================] - 1s 2ms/step - loss: 0.2996
Epoch 2/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2835
Epoch 3/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2696
Epoch 4/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2575
Epoch 5/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2467
Epoch 6/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2370
Epoch 7/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2282
Epoch 8/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2202
Epoch 9/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2127
Epoch 10/100
6/6 [==============================] - 0s 2ms/step - loss: 0.2058
Epoch 11/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1991
Epoch 12/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1926
Epoch 13/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1863
Epoch 14/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1800
Epoch 15/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1738
Epoch 16/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1675
Epoch 17/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1613
Epoch 18/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1550
Epoch 19/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1488
Epoch 20/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1426
Epoch 21/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1364
Epoch 22/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1303
Epoch 23/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1242
Epoch 24/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1182
Epoch 25/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1122
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1064
Epoch 27/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1006
Epoch 28/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0950
Epoch 29/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0895
Epoch 30/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0841
Epoch 31/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0790
Epoch 32/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0739
Epoch 33/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0691
Epoch 34/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0645
Epoch 35/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0601
Epoch 36/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0558
Epoch 37/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0518
Epoch 38/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0481
Epoch 39/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0445
Epoch 40/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0411
Epoch 41/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0380
Epoch 42/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0350
Epoch 43/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0323
Epoch 44/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0297
Epoch 45/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0274
Epoch 46/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0252
Epoch 47/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0232
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0213
Epoch 49/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0196
Epoch 50/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0180
Epoch 51/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0165
Epoch 52/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0152
Epoch 53/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0140
Epoch 54/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0128
Epoch 55/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0118
Epoch 56/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0109
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0100
Epoch 58/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0093
Epoch 59/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0086
Epoch 60/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0080
Epoch 61/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0074
Epoch 62/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0069
Epoch 63/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0064
Epoch 64/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0060
Epoch 65/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0057
Epoch 66/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0053
Epoch 67/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0050
Epoch 68/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0048
Epoch 69/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0045
Epoch 70/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0043
Epoch 71/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0042
Epoch 72/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0040
Epoch 73/100
6/6 [==============================] - 0s 5ms/step - loss: 0.0039
Epoch 74/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0037
Epoch 75/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0036
Epoch 76/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0035
Epoch 77/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0034
Epoch 78/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0034
Epoch 79/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0033
Epoch 80/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0032
Epoch 81/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0032
Epoch 82/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0031
Epoch 83/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0031
Epoch 84/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0031
Epoch 85/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 86/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 87/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 88/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 90/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 91/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 92/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 93/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 94/100
6/6 [==============================] - 0s 4ms/step - loss: 0.0029
Epoch 95/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 96/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 97/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 98/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 99/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0029
Epoch 100/100
6/6 [==============================] - 0s 2ms/step - loss: 0.0028

In [34]:
# predict autoencoder
print('-' * 25 + 'Predict autoencoder model')
reconstruct = autoencoder.predict(df_pct_change_normalised)

-------------------------Predict autoencoder model
90/90 [==============================] - 0s 843us/step

In [35]:

# Inverse transform dataset with MinMax Scaler
print('-' * 25 + 'Inverse transform dataset with MinMax Scaler')
reconstruct_real = df_scaler.inverse_transform(reconstruct)
df_reconstruct_real = pd.DataFrame(data=reconstruct_real, columns=df_pct_change.columns)

-------------------------Inverse transform dataset with MinMax Scaler

In [36]:
print('-' * 25 + 'Calculate L2 norm as reconstruction loss metric')
df_recreation_error = getReconstructionErrorsDF(df_pct_change=df_pct_change,
                                                reconstructed_data=reconstruct_real)

-------------------------Calculate L2 norm as reconstruction loss metric

In [37]:
df_recreation_error

            ranking  stock_index  recreation_error
stock_name
KO                1           12          0.438882
PFE               2            6          0.504226
PG                3           17          0.526831
WMT               4           27          0.543335
JNJ               5            8          0.574952
MMM               6            7          0.596951
VZ                7           22          0.601847
IBM               8           14          0.619895
MRK               9           25          0.625287
RTX              10           19          0.652760
XOM              11           18          0.662785
DIS              12            4          0.669817
V                13           13          0.685556
NKE              14           28          0.700601
MSFT             15           23          0.730882
TRV              16            5          0.733324
DD               17           21          0.802956
CAT              18           29          0.809198
CSCO             19           16          0.824431
INTC             20           11          0.829374
HD               21            3          0.836320
AAPL             22           24          0.862976
CVX              23            2          0.875621
JPM              24           20          0.879465
WBA              25            9          0.895000
MCD              26            1          0.917896
UNH              27           10          0.938425
BA               28           26          0.999956
GS               29           15          1.042425
AXP              30            0          1.081218

In [38]:
filtered_stocks = df_recreation_error.head(stock_selection_number).index

In [39]:
filtered_stocks

Index(['KO', 'PFE', 'PG', 'WMT', 'JNJ', 'MMM', 'VZ', 'IBM', 'MRK', 'RTX',
       'XOM', 'DIS', 'V', 'NKE', 'MSFT', 'TRV', 'DD', 'CAT', 'CSCO', 'INTC'],
      dtype='object', name='stock_name')

In [40]:
# store the list of selected stocks
%store filtered_stocks

Stored 'filtered_stocks' (Index)

### Feature Engineering and Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import ta
from ta import add_all_ta_features
from ta.utils import dropna
from finrl.preprocessing.data import data_split
from finrl.preprocessing.preprocessors import FeatureEngineer

In [ ]:
list_of_stocks = filtered_stocks
print(list_of_stocks)

In [ ]:
data = data[data['stock_name'].isin(list_of_stocks)]

In [ ]:
data.stock_name.unique()

In [ ]:
def add_features(data, feature_list, short_names):
    
    # list of column names to filter the features
    data_col_names = list(data.columns)
    filter_names = data_col_names + feature_list
    col_rename = data_col_names +  short_names
    
    # Add technical indicators using the ta Library
    data = add_all_ta_features(data, open="open", high="high", 
    low="low", close="close", volume="volume") 
    
    # Filter the Indicators with the required features
    data = data[filter_names]
    data.columns = col_rename # rename the columns to use shortened indicator names
    data = data.dropna()
    
    return data

In [ ]:
# List of Features to add
feature_list= ['volatility_atr','volatility_bbw','volume_obv','volume_cmf',
               'trend_macd', 'trend_adx', 'trend_sma_fast', 
               'trend_ema_fast', 'trend_cci', 'momentum_rsi']

# Short names of the features
short_names = ['atr', 'bbw','obv','cmf','macd', 'adx', 'sma', 'ema', 'cci', 'rsi']

In [ ]:
# Add Indicators to our dataset
data_with_features = data.copy()

data_with_features = add_features(data_with_features, feature_list, short_names)

In [ ]:
data_with_features.head()

In [ ]:
feature_list = list(data_with_features.columns)[7:]

In [ ]:
print(feature_list)

In [ ]:
def add_cov_matrix(df):
    """
    Function to add Coveriance Matrices as part of the defined states
    """
    # Sort the data and index by date and tic
    df=df.sort_values(['date','tic'],ignore_index=True) 
    df.index = df.date.factorize()[0]
    
    cov_list = [] # create empty list for storing coveriance matrices at each time step
    
    # look back for constructing the coveriance matrix is one year
    lookback=252
    for i in range(lookback,len(df.index.unique())):
        data_lookback = df.loc[i-lookback:i,:]
        price_lookback=data_lookback.pivot_table(index = 'date',columns = 'tic', values = 'close')
        return_lookback = price_lookback.pct_change().dropna()
        covs = return_lookback.cov().values 
        covs = covs#/covs.max()
        cov_list.append(covs)
        
    df_cov = pd.DataFrame({'date':df.date.unique()[lookback:],'cov_list':cov_list})
    df = df.merge(df_cov, on='date')
    df = df.sort_values(['date','tic']).reset_index(drop=True)
    
    return df

In [ ]:
# Add Covariance Matrices to our dataset
data_with_features_covs = data_with_features.copy()
data_with_features_covs = add_cov_matrix(data_with_features_covs)

In [ ]:
data_with_features_covs.head()

## Store the Dataframe

In [ ]:
df = data_with_features_covs

In [ ]:
%store df