<a href="https://colab.research.google.com/github/Eminent01/AMMI_Research/blob/main/AMMI_Research2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# import sys
# import os
# # import config
# import pandas as pd
# import numpy as np
# # from config import config
# import matplotlib.pylab as plt

# import yfinance as yf
# from pandas_datareader import data as pdr
# import pkg_resources
# %matplotlib inline

In [12]:
# from pandas_datareader import data
# import matplotlib.pyplot as plt
# import pandas as pd

In [ ]:
# # Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
# tickers = ['AAPL', 'MSFT', '^GSPC']

# # We would like all available data from 01/01/2000 until 12/31/2016.
# start_date = '2010-01-01'
# end_date = '2016-12-31'

# # User pandas_reader.data.DataReader to load the desired data. As simple as that.
# panel_data = data.DataReader('INPX', 'google', start_date, end_date)

In [14]:
# start_date = '2016-01-01'
# end_date = '2020-12-31'

In [ ]:
# panel_data = data.DataReader(ticker_list, start_date, end_date)

In [ ]:
# panel_data.to_frame().head(9)

In [ ]:
# df = pdr.get_data_yahoo([ticker_list][0], 
#                           start='2008-01-01', end="2021-01-01")

In [ ]:
# data = df.copy()

In [ ]:
# data = data.stack().reset_index()
# data.columns.names = [None]
# data = data.drop(['Close'], axis=1)
# data.head()

### Download data from Yfinance API

In [1]:
!pip install yfinance
!pip install yahoofinancials

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2022.6)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15191 sha256=109d8364b38ebf0075d106c835320f0aa1641c58b21fcb8ba1019beb1c52b210
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [4]:
ticker_list = ['WBA', 'TRV', 'MMM', 'RTX', 'DD', 'KO', 'V', 'XOM', 'CAT', 'PG',
       'AXP', 'WMT', 'MSFT', 'VZ', 'JPM', 'UNH', 'DIS', 'HD', 'AAPL', 'CVX',
       'JNJ', 'CSCO', 'PFE', 'IBM', 'MRK', 'INTC', 'MCD', 'BA', 'NKE', 'GS']

In [9]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

df = yf.download(ticker_list, 
                      start='2019-01-01', 
                      end='2021-06-12', 
                      progress=False,
)
print(df.head())

            Adj Close                                                \
                 AAPL        AXP          BA         CAT       CSCO
Date
2019-01-02  38.105133  90.403229  314.645111  114.177406  38.037758
2019-01-03  34.309597  88.638588  302.100555  109.777626  36.654400
2019-01-04  35.774235  92.632698  317.822571  115.776497  38.305492
2019-01-07  35.694607  93.135513  318.823456  115.848770  38.564316
2019-01-08  36.375057  93.590919  330.891907  117.240097  38.876694

                                                                      ...  \
                  CVX         DD         DIS          GS          HD  ...
Date                                                                  ...
2019-01-02  93.039490  72.167259  107.654335  158.627197  157.620926  ...
2019-01-03  91.257530  69.506660  105.046211  156.303497  154.146866  ...
2019-01-04  93.148743  72.445229  108.286606  161.411926  158.727142  ...
2019-01-07  94.359131  72.484940  109.225136  162.306335  161.853760  ...
2019-01-08  93.947273  73.318863  110.074760  161.706985  162.630875  ...

              Volume                                                  \
                 PFE        PG       RTX      TRV      UNH         V
Date
2019-01-02  26430315   9843900   9361752  1793400  4063600   8788000
2019-01-03  28503533   9820200   8884258  1887500  4623200   9428300
2019-01-04  27145348  10565700  10083317  1793900  5367600  11065800
2019-01-07  20995469   9012500   8314601  1082800  4133000  12928000
2019-01-08  19677231   9551300   5951282  1403900  3618600   9243000


                  VZ      WBA      WMT       XOM
Date
2019-01-02  13969700  5528100  8152700  16727200
2019-01-03  19245400  5853200  8277300  13866100
2019-01-04  17035800  6868600  8029100  16043600
2019-01-07  16349000  6192500  7789700  10844200
2019-01-08  21424600  6548100  7200900  11439000

[5 rows x 180 columns]

In [10]:
data = df.copy()

In [11]:
data = data.stack().reset_index()
data.columns.names = [None]
data = data.drop(['Close'], axis=1)

In [12]:
data.head()

,Date,level_1,Adj Close,High,Low,Open,Volume
0,2019-01-02,AAPL,38.105133,39.712502,38.557499,38.722500,148158800
1,2019-01-02,AXP,90.403229,96.269997,93.769997,93.910004,4175400
2,2019-01-02,BA,314.645111,323.950012,313.709991,316.190002,3292200
3,2019-01-02,CAT,114.177406,127.879997,123.000000,124.029999,4783200
4,2019-01-02,CSCO,38.037758,43.200001,42.209999,42.279999,23833500

In [13]:
data.columns = ['date','stock_name','close','high','low','open','volume']

In [15]:
data.head()

,date,stock_name,close,high,low,open,volume
0,2019-01-02,AAPL,38.105133,39.712502,38.557499,38.722500,148158800
1,2019-01-02,AXP,90.403229,96.269997,93.769997,93.910004,4175400
2,2019-01-02,BA,314.645111,323.950012,313.709991,316.190002,3292200
3,2019-01-02,CAT,114.177406,127.879997,123.000000,124.029999,4783200
4,2019-01-02,CSCO,38.037758,43.200001,42.209999,42.279999,23833500

In [14]:
# check for missing values
data.isna().sum()

date          0
stock_name    0
close         0
high          0
low           0
open          0
volume        0
dtype: int64

In [16]:
# check if all stock have the same number of data points

no_datasets = []
for i in ticker_list:
    no_data_points = data[data['stock_name']==i].shape[0]
    no_datasets.append((i,no_data_points))
    data_points_df = pd.DataFrame(no_datasets)

In [17]:
data_points_df.head()

     0    1
0  WBA  616
1  TRV  616
2  MMM  616
3  RTX  616
4   DD  616

In [18]:
##Save the data to CSV
data.to_csv('datasets.csv', index=False)

#### Create close price data

In [20]:
# read the data from the saved csv file
df_prices = pd.read_csv('/content/datasets.csv')

In [21]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get the list of all the tickers
tic_list = list(set([i for i,j in df_prices.index]))

# Create an empty data frame for the close prices
df_close = pd.DataFrame()

In [23]:
# Reset the Index to tic and date
df_prices = df_prices.reset_index().set_index(['stock_name', 'date']).sort_index()

# Get all the Close Prices
df_close = pd.DataFrame()

for ticker in tic_list:
    series = df_prices.xs(ticker).close
    df_close[ticker] = series
    
df_close = df_close.reset_index()

In [24]:
df_close.head()

,date,MMM,BA,CVX,HD,INTC,KO,MCD,VZ,MRK,...,CAT,UNH,V,MSFT,XOM,IBM,DD,AXP,PG,WMT
0,2019-01-02,167.532959,314.645111,93.039490,157.620926,42.019070,41.707706,161.283463,46.703716,64.045830,...,114.177406,230.067429,129.483673,96.874695,55.804890,90.588524,72.167259,90.403229,82.470016,87.534340
1,2019-01-03,161.224747,302.100555,91.257530,154.146866,39.707481,41.449970,160.220779,46.870461,62.732563,...,109.777626,223.793488,124.817513,93.310875,54.948090,88.780075,69.506660,88.638588,81.891777,87.084206
2,2019-01-04,167.857605,317.822571,93.148743,158.727142,42.144005,42.276485,163.317123,46.987164,64.622002,...,115.776497,226.410797,130.194824,97.650688,56.974007,92.247589,72.445229,92.632698,83.563217,87.628120
3,2019-01-07,167.471573,318.823456,94.359131,161.853760,42.340359,41.725475,165.094299,47.287304,63.910263,...,115.848770,226.845428,132.542526,97.775246,57.270290,92.900200,72.484940,93.135513,83.228951,88.659714
4,2019-01-08,168.173462,330.891907,93.947273,162.630875,42.608124,42.196503,165.442413,48.671238,64.384750,...,117.240097,229.878479,133.263397,98.484161,57.686680,94.221169,73.318863,93.590919,83.536110,89.278664

In [25]:
# Save the Close Price datase
df_close.to_csv('close_prices.csv', index=False)